{{>licenseInfo}}
package {{modelPackage}}

{{#imports}}import {{import}}
{{/imports}}
{{#threetenbp}}
import org.threeten.bp.LocalDateTime
{{/threetenbp}}

{{#models}}
{{#model}}
{{#isArrayModel}}
typealias {{classname}} = {{{parent}}}
{{/isArrayModel}}
{{^isArrayModel}}
{{#isEnum}}{{>enum_class}}{{/isEnum}}
{{^isEnum}}{{#isAlias}}typealias {{classname}} = {{dataType}}{{/isAlias}}{{^isAlias}}{{>data_class}}{{/isAlias}}{{/isEnum}}
{{/isArrayModel}}
{{/model}}
{{/models}}
